{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reader - {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'styles.css'%}">
</head>
<body>
    <div class="container">
        <header>
            <nav>
                <div class="logo"><a href="{% url 'index' %}">Readr</a></div>
                <div class="nav-links">
                    <a href="{% url 'author:index' %}">Authors</a>
                    <a href="{% url 'book:index' %}">Books</a>
                    <a class='btn' href="#">Add a Book</a>
                </div>
            </nav>
        </header>
        <main>
            {% block content %}

            {% endblock %}
        </main>
        <footer>
            <h5>This content was proudly made by &copy; Webdev Kmer - 2024</h5>
        </footer>
    </div>
   

</body>
</html>